/*important!
 * CSS custom
 * Author:  	Lucie Genevey
 * Date:    	2015.20.12
 * summary:     custom css
 * #E5EEC1 #A2D4AB #3EACA8 #547A82 #5A5050
 * to do : variables à créer pour les memes regles, SCSS
 */
 
/*.promotional-rotatediv {
	position: absolute;
    margin-top: 250px;
	margin-left: -50px;
}
 
.promotional-rotateimg {
	-ms-transform: rotate(-45deg); IE 9
    -webkit-transform: rotate(-45deg); Chrome, Safari, Opera
    transform: rotate(-45deg);
	
}*/

@font-face {
    font-family: 'clinica_proregular';
    src: url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.eot');
    src: url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.woff2') format('woff2'),
         url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.woff') format('woff'),
         url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/ClinicaPro/ClinicaPro-Regular-webfont.svg#clinica_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'clinica_proregular', sans-serif;
}

/* shop config list */
li {
    list-style-type: none;
    text-align: left;
}

h1 {
    font-size: 48px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
}

h4 {
    font-size: 17px;
    margin-bottom: 30px;
}

section {
    margin-top: 60px;
    margin-bottom: 50px;
}

a:link {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: #2a5aaa;
}

.image-row {
	margin-left: 20px;
}

.hr-section-separation {
    border: 0; 
    height: 1px;
    max-width: 1500px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/********************
*      HEADER       *
********************/
.logo-container {
    height: 150px;
    width: 150px;
    background-color: #FFFFFF;
    border-radius: 50%;
}

.logo {
    height: auto;
    width: 95px;
    margin: -9px 0px 0px 28px;
}

.header {
    background-color: #000000;
}

.header-pic {
    max-height: 700px;
}


.header-text {
    padding-top: 200px;
}

.principal-titre {
    font-family: 'Play', sans-serif;
}

/********************
*    Presentation   *
********************/
.section-heading {
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: normal;
    font-weight: 100;
}

/********************
*    NAVIGATION     *
********************/
navbar {
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    
}

nav {
    height: 150px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

/* hamburger menu */
.container-fluid {
    height: 150px;
}

/* right menu container */
.navbar-nav {
    margin: 0;
    padding: 30px 15px 15px 15px;
}

/* each rubric container */
span:hover {
    color: #2a5aaa;
}

.menu-about{
    font-size: 25px;
}

.menu-shop{
    font-size: 25px;
}

.menu-portfolio{
    font-size: 25px;
}

.menu-contact{
    font-size: 25px;  
}

.menu-back {
    font-size: 25px;
    color: black;
}

.menu-lang:hover {
    color: #2a5aaa;
}

.lang-position {
	top : 0px;
}

/********************
*     PROMOTIONS    *
********************/

.promotional-section {
	background-color: #000000;
}

.promotional-text {
	font-size: 50px;
	color: #FFFFFF;
	text-align: left;
	
}

.promotional-small-text {
    font-size: 20px;
    font-family: 'Play', sans-serif;
    color: #FFFFFF;
}

/********************
*      BUTTONS      *
********************/
/* en fait ce sont des liens <a> */

.btn-goto-LiquidGear {
    margin-top: 50px;
    border-radius: 4px;
    border-color: #333;
    font-size: 30px;
    font-weight: 500;
    border: solid;
    border-color: #FFFFFF;
    color: #FFFFFF !important;
}

.btn-ensavoirplus {
    margin-top: 60px;
    border-radius: 4px;
    border-color: #333;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    border: solid;
    background-color: transparent;
}

.btn-choisir-config {
    border-radius: 4px;
    border-color: #333;
    font-weight: 600;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: transparent;
    border: solid;
    color: #000000;
}

.btn-choisir-PC {
    margin-top: 70px;
    margin-bottom: 70px;
    border-radius: 4px;
    border-color: #333;
    font-size: 18px;
    font-weight: 500;
    border: solid;
    color: #000000;
}


/***********************
* SECTION LIQUIDGEAR   *
************************/
.about-liquidGear {
    
}

.pc-creator {
    background-color: #fff;
}

.liquidgear-paragraph {
    margin-bottom: 50px
    text-align: justify;
    line-height: 30px;
    max-height: 350px;
}

/********************
*    SECTION SHOP   *
********************/
.h2-shop {
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    padding-top: 15px;
    padding-bottom: 40px;
}

/* Bootstrap shop snippet http://www.bootply.com/WLzR480I4G */
.panel {
    transition: padding 0.5s;
    -moz-transition: padding 0.5s; /* Firefox 4 */
    -webkit-transition: padding 0.5s; /* Safari and Chrome */
    -o-transition: padding 0.5s; /* Opera */
    -ms-transition:padding 0.5s; /* IE9 (maybe) */ 	
  
}

.panel:hover {
	padding:10px;
}


.gamme {
    font-weight: bold;
    font-size: 40px
}

.list-group-item {
    font-family: sans-serif;
    text-align: center;
}

.asterix-legends {
    margin-top: 30px;
}

.asterix {
    color: red;
}

.step2 {
    margin-top: 150px;
    display: bloc;
}


.boitier1 {
    cursor: pointer;
    height: 450px;
    opacity: 0.5;
}
    .boitier1:hover{
        opacity: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
a:active {
    opacity: 1;
}

.modal-size {
    height: auto;
    width: 800px
}

.boitier2 {
    cursor: pointer;
    height: 450px;
    opacity: 0.5;
}
    .boitier2:hover{
        opacity: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

.boitier3 {
    cursor: pointer;
    height: 450px;
    opacity: 0.5;
}
    .boitier3:hover {
        opacity: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }


.boitier4 {
    cursor: pointer;
    height: 450px;
    opacity: 0.5;
}
    .boitier4:hover {
        opacity: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

.step3 {
    margin-top: 150px;
    margin-bottom: 100px;
}

.h4-color-wc {
    margin-bottom: 7px;
}

.color-wc {
    border-radius: 50%;
    border: solid;
    opacity: 0.5;
    cursor: pointer;
}
    .color-wc:hover {
        opacity: 1;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

/********************
*   CONTACT FORM    *
********************/

.label-text {
    color: dimgrey;
    text-align: left;
    font-size: 18px;
    font-family: sans-serif;
}

.sendButton {
    margin-top: 40px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border: solid;
    background-color: transparent;
}


/********************
*      FOOTER       *
********************/

.footer {
    position: static;
    left: 0;
    right: 0;
    height: 90px;

    line-height: 50px;
}

.footer-p-credits {
    font-size: 12px;
}

.img-prodimex {
    margin-left: -20px;
    margin-top: -15px;
}

.facebook-link {
	height: 40px;
	width: 40px;
	
	cursor : pointer;
}

.instagram-link {
	height: 45px;
	width: 45px;

	cursor : pointer;	
}
